---
page_title: "sedai_create_victoria_metrics_monitoring_provider Resource - terraform-provider-sedai"
subcategory: ""
description: |-

---

# sedai_create_victoria_metrics_monitoring_provider (Resource)



{{.SchemaMarkdown}}
